body {
	background-color: #F0EADB;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}

#contentWrapper {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	background-color: black;
}

#mainbox{
	background-color: rgb(51,66,90);
	border-radius: 15px;
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,.5);
	width: 700px;
	height: 280px;
	margin: 0px auto;
	margin-top: 100px;
}

#logo{
	margin-top: -80px;
}

#receiveBacon {
	margin-left: 50px;
	margin-top: 20px;
	text-align: center;
	color: rgba(0,0,0,.3);
	width: 600px;
	height: 18px;
	resize: none;
}

.button {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-align: center;
	font-family: arial, helvetica, verdana, sans-serif;
	cursor: pointer;
	font-weight: bold;
	font-size: 22px;
	width: 180px;
	height: 45px;
	padding-top: 18px;
	border-radius: 5px;
	background-color: orange;
	border: solid 3px gold;
	color: black;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.1, rgb(255, 200, 66)), to(rgb(244, 135, 23)));
	background: -moz-linear-gradient(center top,#ffc842 10%,#f48717 100%);
}

.button:hover{
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(.10, #f48717),color-stop(1, #ffc842));
	background: -moz-linear-gradient(center top,#ffc842 10%,#f48717 100%);
}

.button:active{
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.1, gold), to(gold));
	background: -moz-linear-gradient(center top,gold 10%,gold 100%);
}

#redirectButton {
	width: 100px;
	height: 30px;
	padding-top: 5px;
}

a {
	text-decoration: none;
	color: inherit;
}

#foot {
	display: inline-block;
	background-color: rgb(51,66,90);
	position: absolute;
	bottom: 0px;
	color: white;
	padding: 5px;
	width: 80px;
	border-top-right-radius: 10px;
	transition: width 1s;
	text-align: center;
	font-family: Arial;
}

#foot:hover{
width: 120px;
}