* {
	transition: width .25s, height .25s, margin .25s, padding .25s;
	-webkit-transition: width .25s, height .25s, margin .25s, padding .25s;
	-moz-transition: width .25s, height .25s, margin .25s, padding .25s;
	font-family: Helvetica, Arial, sans-serif;
}

body {
	background-color: #F0EADB;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	min-width: 750px;
}

#contentWrapper {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	background-color: black;
}

#mainbox{
	background-color: rgb(51,66,90);
	border-radius: 15px;
	box-shadow: 4px 4px 5px 2px rgba(0,0,0,.5);
	width: 700px;
	height: 280px;
	margin: 0px auto;
	margin-top: 100px;

}

#PreviewPane{
	background-color: rgb(51,66,90);
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,.5),inset 0px 7px 5px 0px rgba(0,0,0,.3);
	width: 625px;
	height: 225px;
	padding: 10px;
	margin: 0px auto;
}

#ImageBox {
	height: 225px;
	width: 300px;
	display: inline-block;
	border: solid 1px black;
	margin-right: 20px;
	float:left;
}
#PreviewCost::before{
	content: "$";
	color: #326CA0;
}
#PreviewCost{
	bottom: 0px;
	right: 0px;
	font-size: 24pt;
	color: white;
	width: 100px;
	text-align: right;
	display: inline-block;
}

#PreviewCategory {
	text-align: left;
	color: white;
	width: 180px;
	font-size: 15pt;
	display: inline-block;
	bottom: 0px;
}

#PreviewCategory::before{
	content: "in: ";
	color: #326CA0;
}

#PreviewName {
	color: white;
	height: 170px;
	font-size: 24pt;
}

#rigBox {
	background-color: rgb(51,66,90);
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,.5),inset 0px 7px 5px 0px rgba(0,0,0,.3);
	width: 550px;
	height: auto;
	padding: 10px;
	margin: 0px auto;
	z-index: 90;
	margin-bottom: 50px;
}
 
#randomRigTitle {
	height: 100px;
	width: 100%;
	font-size: 25px;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}

#warning {
	color: red;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	border-radius:5px;
	border: 1px solid red;
	height: 35px
	margin-bottom: 10px;
}

#adSpace1 {
	position: absolute;
	left: 0px;
	width: 120px;
	height: 600px;
	margin-top: -1000px;
}

#adSpace2 {
	position: absolute;
	right: 0px;
	width: 120px;
	height: 600px;
	margin-top: -1000px;
}

#logo{
	margin-top: -80px;
}

.partName {
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	width: 120px;
	margin: 5px 0px -5px;
	text-align: center;
	height: 15px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.1, rgb(255, 200, 66)), to(rgb(244, 135, 23)));
	background: -moz-linear-gradient(center top,#ffc842 10%,#f48717 100%);
	border-radius: 5px 5px 0px 0px;
	vertical-align: middle;
	padding:5px 10px;
	z-index:0;
	font-weight: bold;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.partName:hover {
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(.10, #f48717),color-stop(1, #ffc842));
	background: -moz-linear-gradient(center top,#ffc842 10%,#f48717 100%);
}

.partName:active {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.1, gold), to(gold));
	background: -moz-linear-gradient(center top,gold 10%,gold 100%);
}

.partBox {
	display: block;
	height: 20px;
	width: 99%;
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 0px 0px 5px 5px;
	z-index: 5;
}

#receiveBacon {
	margin-left: 50px;
	margin-top: 20px;
	text-align: center;
	color: rgba(0,0,0,.5);
	width: 600px;
	height: 18px;
	resize: none;
}

#disclaimer {
	width: 450px;
	background-color: rgb(51,66,90);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,.5),inset 0px 7px 5px 0px rgba(0,0,0,.3);
	margin: -50px auto 30px auto;
	border-radius: 0px 0px 10px 10px;
	padding: 10px;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}

.go {
	margin-top: 4px;
	margin-left: 384px;
	border-radius: 5px 5px 0px 0px;
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 3px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.1, rgb(255, 200, 66)), to(rgb(244, 135, 23)));
	background: -moz-linear-gradient(center top,#ffc842 10%,#f48717 100%);
}

.go:hover {
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(.10, #f48717),color-stop(1, #ffc842));
	background: -moz-linear-gradient(center top,#ffc842 10%,#f48717 100%);
}

.go:active {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.1, gold), to(gold));
	background: -moz-linear-gradient(center top,gold 10%,gold 100%);
}

.button {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	font-family: arial, helvetica, verdana, sans-serif;
	cursor: pointer;
	font-weight: bold;
	font-size: 22px;
	width: 180px;
	height: 45px;
	padding-top: 18px;
	border-radius: 5px;
	background-color: orange;
	border: solid 3px gold;
	color: black;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.1, rgb(255, 200, 66)), to(rgb(244, 135, 23)));
	background: -moz-linear-gradient(center top,#ffc842 10%,#f48717 100%);
}

.button:hover{
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(.10, #f48717),color-stop(1, #ffc842));
	background: -moz-linear-gradient(center top,#ffc842 10%,#f48717 100%);
}

.button:active{
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.1, gold), to(gold));
	background: -moz-linear-gradient(center top,gold 10%,gold 100%);
}

#redirectButton {
	width: 100px;
	height: 30px;
	padding-top: 5px;
}

a {
	text-decoration: none;
	color: inherit;
}

.foot {
	display: inline-block;
	background-color: rgb(51,66,90);
	position: fixed;
	top: 0px;
	color: white;
	font-weight: bold;
	padding: 5px;
	width: 100px;
	border-bottom-right-radius: 10px;
	transition: width 1s;
	text-align: center;
	font-family: Arial;
}